* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(37, 34, 34);
  overflow: hidden;
  font-family: Arial;
  font-weight: bold;
}

.container {
  width: 34vw;
  margin: 7vw auto;
  background-color: rgb(37, 34, 34);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  height: 34vw;
  width: 34vw;
  border-radius: 8px;
  background: rgb(207, 10, 102);
  border: 1px solid rgb(240, 5, 44);
  display: flex;
  justify-content: center;
  align-items: center;
}

.whosturn {
  height: 3.4vw;
  width: 14vw;
  margin-top: 0.5vw;
  box-sizing: border-box;
  padding: 0.75vw 0.7vw;
  background-color:rgb(20, 16, 240);
  font-size: 1.5vw;
  text-align: center;
  border-radius: 8px;
  margin-left: 10vw;
  display: none;
}
.whosturn p {
  color: rgb(207, 10, 102);
}

.board  {
  vertical-align: middle;
  width: calc(24vw + 4px);
}

.square {
  width: 8vw;
  height: 8vw;
  border: 1px solid black;
  float: left;
  font-size: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.output {
  box-sizing: border-box;
  padding: 3vw 0.8vw;
  width: 14vw;
  height: 14vw;
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgba(37, 34, 34, 0.75);
  color: rgb(207, 10, 102);
  z-index: 2;
  position: fixed;
  left: 43vw; top: 17vw;
  font-size: 1.8vw;
  text-align: center;
  vertical-align: middle;
}

.startGame {
 display: block;
}

.gameOver {
 display: none;
} 

[data-no^="0"] {
  border-top: none;
}
[data-no^="2"] {
  border-bottom: none;
}
[data-no$="0"] {
  border-left: none;
}
[data-no$="2"] {
  border-right: none;
} 

button {
  height: 3.5vw;
  width: 3.5vw;
  background: rgb(20, 16, 240);
  border: 1px solid rgb(14, 11, 167);
  border-radius: 10px;
  color: black;
  font-size: 1.7vw;
  font-weight: bold;
  margin-top: 2vw;
}

button:nth-of-type(2) {
  margin-left: 0.5vw;
}

p {
  display: inline;
}