* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(37, 34, 34);
  overflow: hidden;
}

.container {
  margin: 10vw auto;
  background-color: rgb(37, 34, 34);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.output {
  box-sizing: border-box;
  padding: 2vw 1.5vw;
  width: 14vw;
  height: 14vw;
  border: 1px solid black;
  border-radius: 8px;
  background-color: rgba(37, 34, 34, 0.78);
  color: rgb(207, 10, 102);
  z-index: 2;
  position: fixed;
  left: 43vw; top: 20vw;
  font-size: 2vw;
  text-align: center;
  visibility: hidden;
}


.box {
  height: 34vw;
  width: 34vw;
  border-radius: 8px;
  background: rgb(207, 10, 102);
  border: 1px solid rgb(240, 5, 44);
  display: flex;
  justify-content: center;
  align-items: center;
}

.board  {
  display: inline-block;
  vertical-align: middle;
  width: calc(24vw + 4px);
}

.square {
  width: 8vw;
  height: 8vw;
  border: 1px solid black;
  float: left;
  font-size: 2vw;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-no^="0"] {
  border-top: none;
}

[data-no^="2"] {
  border-bottom: none;
}

[data-no$="0"] {
  border-left: none;
}

[data-no$="2"] {
  border-right: none;
} 



